@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron top-bottom-padding">
    <h1>Doctor Appointment Management System</h1>
    <div class="center">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Appointment Makes Easy!</h3>
    </div>
</div>
@if (Session["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        @Session["Success"]
        @{Session.Remove("Success");}
    </div>
}
@if (Session["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        @Session["Error"]
        @{Session.Remove("Error");}
    </div>
}
<div>

</div>